.mission{
	padding: 8rem 0;
	background-color: $dark-bg3;
	background-image: url(../assets/img/mission/wave-bg.png);
	background-position: top;
	background-repeat: no-repeat;
}
.mission-text{
	padding: 7rem 0 9rem 0;
}
.mission-quote{
	position: relative;
	padding: 3.6rem 0 2rem 3.6rem;
}
.mission__quote{
	position: absolute;
	top: 0;
	left: 0;
}
.quotes-inner{
	display: flex;
	column-gap: 6px;
}
.mission__quotes{
	display: block;
	width: 12px;
	height: 28px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../assets/img/mission/quote.png');
}
.wave-bg{
	position: relative;
	z-index: 100;
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url('../assets/img/mission/patternwave-1.png');
}
@media(max-width: 1100px){
	.mission-text{
		padding: 3rem 0;
	}
}