
.about-podcasts{
	padding: 4rem 0 12rem 1rem;
}
.about-podcasts__title{
	padding: 2rem 0 1.6rem 0;
	max-width: 100%;
}
.all-about-podcast-text{
	margin: 5rem 0 3rem 0;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}
.quotes-inner{
	display: flex;
	column-gap: 1.5%;
	padding-left: 1rem;
}
.podcast__quote{
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../assets/img/podcasts/qoute.png');
	width: 12px;
	height: 28px;
}
.all-about-podcast-quote{
	padding: 2rem 0 0 0;
}
.podcast__quote_padding{
	padding: 4rem 0 0 1rem;
}
.podcast__quote-text{
	padding: 2rem 0 0 5.4rem;
}
@media(max-width: 900px){
	.about-podcasts{
		padding: 1rem 0 2rem 0;
	}
}