
.task{
	margin: 8rem 0 0 0;
	padding: 0 0 17.5rem 0;
	background-image: url(../assets/img/task/task-bg-2.png);
	background-repeat: no-repeat;
	background-position: top 68px left;
}

.task__subtitle{
	padding: 8rem 0 0 0;
	text-transform: uppercase;
	max-width: 62rem;
	letter-spacing: 0.58rem;
}
.task-form-field{
	display: flex;
	max-width: 43.4rem;
}
.task-form__input{
	display: block;
	width:100%;
	font-family: "PF Din Text Cond Pro", "Arial", sans-serif;
 max-width: 20.6rem;
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-weight: 300;
	background-color: transparent;
	letter-spacing: 0.4rem;
	padding: 0 0.5rem 1rem 0;
	border-bottom: 1px solid $font-dark;
}
.task-form__input_right{
	padding: 0 0.5rem 1rem 2rem;
}
.task-form__input::placeholder{
	color: $font-dark;
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-weight: 300;
	letter-spacing: 0.4rem;
	font-family: "PF Din Text Cond Pro", "Arial", sans-serif;
}
.task-form__input_bordered{
	border-right: 1px solid $font-dark;
}
.task-form-field_last{
	position: relative;
}
.task-attachment{
	position: absolute;
	bottom: -46%;
	right: 5%;
	font-size: 1.2rem;
	line-height: 1.44rem;
	color: $font-gold;
	letter-spacing: 0.06rem;
}
.task-form__submit{
	font-family: "PF Din Text Cond Pro";
	background-color: $font-gold;
	color: $font-light;
	font-size: 2.4rem;
	line-height: 2.8rem;
	padding: 0.4rem 6.4rem 0.4rem 1.3rem;
	letter-spacing: 0.5rem;
	font-weight: 300;
	cursor: pointer;
}
.task-form-field-inner{
	padding: 10rem 0 8rem 0;
	display: flex;
	flex-direction: column;
	row-gap: 5rem;
}
.attach-inner{
	position: relative;
	border-bottom: 1px solid $font-dark;
}
.input__attach{
	position: relative;
	width: 100%;
	opacity: 0;
	z-index: 200;
}
.label-attach-file{
	position: absolute;
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-weight: 300;
	letter-spacing: 0.4rem;
	top: -4px;
	left: 5px;
	transform: translateY(20%);
}
.contacts_colored{
	color: #F49619;
}
@media(max-width: 1000px){
	.task{
		margin: 6rem 0 0 0;
		padding: 0 0 6.5rem 0;
		background-image: none;

	}
}
@media(max-width: 540px){
.task-form-field{
	max-width:100%;
	flex-direction: column;
	row-gap: 5rem;
}
.task-form-field{
	margin-top: 5rem;
}
.task-form__input{
	max-width: 100%;
	border-right: none;
	border-bottom: 1px solid $font-dark;
}
.task-attachment {
	left: 0;
	bottom: -19%;
}
.task-form-field-inner {
	row-gap: 0rem;
}
.task-form__input_right{
	padding: 0 0.5rem 1rem 0rem;
}
}