//colors
$dark-bg: #1A1A1A;
$dark-bg2: #191919;
$dark-bg3: #77B8E6;
$font-dark: #000000;
$font-dark2: #474747;
$font-dark3: #272727;
$font-dark4: #353535;
$font-dark5: #b6b0b0;
$font-dark-section: #353535;
$font-light: #ffffff;
$font-gold: #F0891A;
$font-gold2: #FFB800;
$font-sky: #77B8E6;