*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $font-dark;
  font-family: "PF Din Text Cond Pro", "Arial", sans-serif;
}

button {
  padding: 0;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
  max-width: 1920px;
  min-height: 600px;
  margin: 0 auto;
}

.container-content{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.container-content_wider{
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-title{
  font-size: 24.8rem;
  line-height: 29.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title{
  max-width: 70rem;
  font-size: 10.2rem;
  line-height: 12.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $font-dark4;
}
.section-title_light{
  color: $font-light;
}
.section-title-top{
  font-size: 17.9rem;
  line-height: 21.4rem;
  font-weight: 700;
  color: $font-dark4;
  text-transform: uppercase;
}
.section-subtitle{
  color: $font-dark-section;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
}
.section-subtitle_bold{
  font-weight: 700;
  text-transform: uppercase;
}
.section-subtitle_short{
  letter-spacing: 0.1rem;
}
.section-subtitle_light{
  text-transform: uppercase;
  color: $font-light;
}
.company-title{
  font-size: 19.7rem;
  line-height: 19.7rem;
  font-weight: 500;
  text-transform: uppercase;
  
}

.main-text{
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 300;
  letter-spacing: 0.45rem;
}
.main-text_light{
  color: $font-light;
}
.main-text_spaces-small{
  letter-spacing: 0.2rem;
}
.main-text_bold{
  font-weight: 500;
}
.text_colored{
  color: $font-gold;
}
.text_colored2{
  color: $font-sky;
}
.text_colored3{
  color: $font-gold2;
}
.section-location{
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: $font-dark;
}
.section-location{
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem 0;
}
.section-location_colored{
  color: $font-dark5;
}