.header{
  position: relative;
  padding: 4rem 0 0 0;
  background-image: url('../assets/img/header/sound.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: $font-light;
}

.header-top{
  display: flex;
  justify-content: space-between;
  column-gap: 5rem; 
}
.header__logo{
  margin-right: 6rem;
}
.header-top-text{
  max-width: 230px;
  text-align: center;
}
.header-text{
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}
.phone-link{
  font-size: 2.9rem;
  line-height: 3.5rem;
  font-weight: 300;
  color: $font-light;
}
.header-contacts{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.8rem;
}
.header-contacts__text{
  letter-spacing: 0.4rem;
}
.header__nav{
  margin: 12.6rem 0 23.5rem 0;
}
.header__arrow-down{
  position: absolute;
  bottom: -7%;
  right: 17%;
}