.task{
	margin: 9rem 0 0 0;
	padding: 0 0 11.5rem 0;
	background-image: url(../assets/img/task/task-bg.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.task__subtitle{
	padding: 1rem 0 0 0;
	text-transform: uppercase;
	max-width: 62rem;
}
.task-form-field{
	display: flex;
	max-width: 45.4rem;
	margin: 3rem 0;
	border-bottom: 1px solid $font-dark;
}
.task-form__input{
	display: block;
	width:100%;
 max-width: 22.5rem;
	background-color: transparent;
	padding: 0 0.5rem 0.6rem 0.5rem;
}
.task-form__input::placeholder{
	color: $font-dark;
	font-size: 1.8rem;
	line-height: 2.1rem;
}
.task-form__input_bordered{

	border-right: 1px solid $font-dark;
}
.task-form-field_last{
	position: relative;
}
.task-attachment{
	position: absolute;
	bottom: -60%;
	right: 0;
	font-size: 1.2rem;
	line-height: 1.44rem;
	color: $font-sky;
	letter-spacing: 0.1rem;
}
.task-form__submit{
	background-color: $font-gold;
	color: $font-light;
	font-size: 2.4rem;
	line-height: 2.8rem;
	padding: 0.4rem 6rem 0.4rem 1.3rem;
	letter-spacing: 0.2rem;
	cursor: pointer;
}
.task-form-field-inner{
	padding: 8rem 0;
}
.attach-inner{
	position: relative;
}
.input__attach{
	position: relative;
	width: 100%;
	opacity: 0;
	z-index: 200;
}
.label-attach-file{
	position: absolute;
	top: 0;
	left: 5px;
	transform: translateY(20%);
}
@media(max-width: 1000px){
	
	.task{
		margin: 6rem 0 0 0;
		padding: 0 0 6.5rem 0;
		background-image: none;

	}
}
@media(max-width: 540px){
.task-form-field{
	max-width:100%;
	flex-direction: column;
	row-gap: 5rem;
}
.task-form-field{
	margin-top: 5rem;
}
.task-form__input{
	border-right: none;
	border-bottom: 1px solid $font-dark;
}
.task-attachment {
	bottom: -19%;
}
}