.team{
	padding: 4rem 0 2rem 0;
}
.team-info{
	margin: 12rem 0 4rem 0;
}
.team-info-item{
	display: flex;
	column-gap: 3%;
	padding: 6rem 0 3rem 0;
}
.team-info-item_gap{
	column-gap: 6%;
}
.team-info-item_end{
	justify-content: flex-end
}
.team-member-info{
	padding: 2rem 0 0 0 ;
	max-width: 52.6rem;
}
.team-title{
	font-size: 2.4rem;
	font-weight: 700;
	text-transform: uppercase;
}
.team__subtitle{
	padding: 2rem 0;
}
@media(max-width: 800px){
	.team-info {
		margin: 1rem 0 2rem 0;
}
}
@media(max-width: 600px){
	.team__member-img{
		width: 100%;
	}
	.team-info-item{
		flex-direction: column;
		row-gap: 1rem;
	}
	.team-info-item_end{
		justify-content: flex-start;
		flex-direction: column-reverse;
	}
}