*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "PF Din Text Cond Pro", "Arial", sans-serif;
}

button {
    padding: 0;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1920px;
    min-height: 600px;
    padding: 2rem 9rem 3rem 24rem;
    margin: 0 auto;
}
.container-content{
    max-width: 1228px;
}