*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $font-dark;
  font-family: "PF Din Text Cond Pro", "Arial", sans-serif;
}

button {
  padding: 0;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
  max-width: 1920px;
  min-height: 600px;
  margin: 0 auto;
}

.container-content{
  max-width: 1248px;
  padding:0 10px;
  margin: 0 auto;
}

.page-title{
  font-size: 24.8rem;
  line-height: 29.8rem;
  font-weight: 700;
}

.section-title{
  font-size: 10.2rem;
  line-height: 12.2rem;
  font-weight: 700;
}

.section-subtitle{
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 300;
}

.company-title{
  font-size: 19.7rem;
  line-height: 19.7rem;
  font-weight: 500;
}

.nav-text{
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.main-text{
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 300;
}