*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  position: relative;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $font-dark;
  font-family: "PF Din Text Cond Pro", "Arial", sans-serif;
  word-break: break-word;
}

button {
  padding: 0;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  min-height: 600px;
  margin: 0 auto;
}
.container-content_smallest{
  max-width: 1206px;
  padding: 0 10px;
  margin: 0 auto;
}
.container-content_small{
  max-width: 1216px;
  padding: 0 10px;
  margin: 0 auto;
}
.container-content{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.container-content_medium{
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}
.container-content_wider{
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-title{
  font-size: 24.8rem;
  line-height: 29.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $font-dark4;
}
.page-subtitle{
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $font-dark4;
}
.section-title{
  max-width: 70rem;
  font-size: 10rem;
  line-height: 12rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $font-dark4;
}
.section-title_light{
  color: $font-light;
}
.section-title-top{
  font-size: 17.9rem;
  line-height: 21.4rem;
  font-weight: 700;
  color: $font-dark4;
  text-transform: uppercase;
}
.section-subtitle{
  color: $font-dark-section;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 300;
  letter-spacing: 0.59rem;
  text-transform: uppercase;
}
.section-subtitle_bold{
  font-weight: 700;
  text-transform: uppercase;
}
.section-subtitle_short{
  letter-spacing: 0.1rem;
}
.section-subtitle_light{
  text-transform: uppercase;
  color: $font-light;
}
.company-title{
  font-size: 17.9rem;
  line-height: 17.9rem;
  font-weight: 500;
  text-transform: uppercase;
}

.main-text{
  font-size: 1.8rem;
  line-height: 2.16rem;
  font-weight: 300;
  letter-spacing: 0.19rem;
  color: $font-dark;
}
.main-text_light{
  color: $font-light;
}
.main-text_spaces-small{
  letter-spacing: 0.19rem;
}
.main-text_bold{
  font-weight: 500;
}
.text_colored{
  color: $font-gold;
}
.text_colored2{
  color: $font-sky;
}
.text_colored3{
  color: $font-gold2;
}
.text-uppercase{
  text-transform: uppercase;
}
.section-location{
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.36rem;
  color: $font-dark;
}
.section-location{
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0 0.6rem 0;
}
.section-location_colored{
  color: $font-dark5;
  margin-left: 0.5rem;
}
.text-align-right{
  text-align: right;
}
.text-circle{
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $font-dark;
 margin-right: 2rem;
 transform: translateY(-70%);
}
.inner-list{
  padding:  0 0 2rem 0;
}
@media(max-width: 1280px){
  .company-title{
    font-size: 14rem;
    line-height: 16.7rem;
  }
  .page-title{
    font-size: 12rem;
    line-height: 20.8rem;
  }
}

@media(max-width: 1242px){
  .section-title-top{
    font-size: 10rem;
    line-height: 11.4rem;
  }

}
@media(max-width: 1180px){
	.container-content, .container-content_wider{
    max-width: 100%
  }
  .section-subtitle{
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
  }
  .main-text{
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.3rem;
  }
  .section-title{
    max-width: 100%;
    font-size: 4.2rem;
    line-height: 5.4rem;
  }
  .page-subtitle{
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
@media(max-width: 910px){
  .company-title{
    padding: 3rem 0;
    font-size: 8rem;
    line-height: 10rem;
  }
  .header__arrow-down{
    display: none;
  }
}

@media(max-width: 720px){
  .section-title-top{
    font-size: 4rem;
    line-height: 5.2rem;
  }
  .section-title{
    font-size: 3.3rem;
    line-height: 4.2rem;
  }
  .page-subtitle{
    font-size: 2.6rem;
    line-height: 3rem;
  }
}
@media(max-width: 550px){
  .company-title{
    padding: 2rem 0;
    font-size: 5rem;
    line-height: 7rem;
  }
  .page-title{
    font-size: 6rem;
    line-height: 7rem;
    padding: 2rem 0;
  }
}


@media(max-width: 440px){
  .main-text, 
  .section-subtitle{
    letter-spacing: 0.1rem;
  }

}
@media(max-width: 340px){
  .section-title{
    font-size: 3rem;
    line-height: 3.9rem;
  }
  .company-title{
    padding: 2rem 0;
    font-size: 4.4rem;
    line-height: 7rem;
  }
  .page-subtitle{
    font-size: 2.6rem;
    line-height: 3rem;
  }
}