
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("PF Din Text Cond Pro"), url("../assets/fonts/pf-din-cond-pro/pfdintextcondpro-light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("PF Din Text Cond Pro"), url("../assets/fonts/pf-din-cond-pro/pfdintextcondpro-regular.ttf") format("ttf");
  font-weight: 400;
} 
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("PF Din Text Cond Pro"), url("../assets/fonts/pf-din-cond-pro/pfdintextcondpro-medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("PF Din Text Cond Pro"), url("../assets/fonts/pf-din-cond-pro/pfdintextcondpro-bold.ttf") format("ttf");
  font-weight: 700;
}


