
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("PF Din Text Cond Pro Light"), url("../assets/fonts/pf-din-cond-pro/pfdintextcondpro-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("PF Din Text Cond Pro Regular"), url("../assets/fonts/pf-din-cond-pro/pfdintextcondpro-regular.ttf");
  font-weight: 400;
} 
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("PF Din Text Cond Pro Medium"), url("../assets/fonts/pf-din-cond-pro/pfdintextcondpro-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("PF Din Text Cond Pro Bold"), url("../assets/fonts/pf-din-cond-pro/pfdintextcondpro-bold.ttf");
  font-weight: 700;
}


