
.about-podcasts__title{
	padding: 2rem 0 0 0;
	max-width: 100%;
}
.all-about-podcast-text{
	margin: 5.6rem 0 3rem 0;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}
.quotes-inner{
	display: flex;
	column-gap: 1.5%;
}
.podcast__subtitle{
	padding: 2rem 0 0 0;
}
.podcast-text-list{
	padding-bottom: 2rem;
}
.podcast__quote{
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../assets/img/podcasts/qoute.png');
	width: 12px;
	height: 28px;
}
.podcast__quote_light{
	background-image: url('../assets/img/podcasts/quote-white.png');
}
.podcast__quote_padding{
	padding: 3rem 0 0 0;
}
.podcast__quote-text{
	padding: 2rem 0 0 4rem;
}
.typhlo-inner{
	position: relative;
	padding: 5rem 0 2rem 0;
}
.typhlo{
	background-color: $dark-bg3;
	padding: 5rem 0;
}
.typhlo-btn{
position: absolute;
top: 50%;
left: 50%;
width: 68px;
height: 68px;
transform:translate(-50%, -50%);
background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
background-image: url('../assets/img/podcasts/btn.png');
}
.podcast-typhlo{
	padding: 0 0 7rem 0;
}
@media(max-width: 1280px){
	.typhlo__img{
		width: 100%;
	}
}
@media(max-width: 580px){
	.podcast__tv{
		display: block;
		margin: 1rem 0;
	}
}